.Cart_container{
    border: 1px solid rgba(0,0,0,.125);
}
.Cart_calculate {
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #f7f7f7;
}
p{
    font-weight: 500;
}
.Cart_item div {
    display: flex;
    align-items: center;
    justify-content: center;
}